.container {
    padding: 100px 20px 0 20px;
    display: grid  ;
    transition: all .3s;
    align-items: center;
    /* grid-template-columns: 2fr fit-content(40%); */
    justify-content: right;
    
}