.console {
    overflow-x: hidden;
    display: grid;
    margin-top: 3vh;
    width: 50vw;
    padding: 1vh;
    background-color: rgb(255, 251, 245);
    height: 500px;
    overflow-y: hidden;
    border-radius: 5px;
    /* margin: 5%; */

}

.chat-box  {
    margin: 2px;
    border-radius: 5px;
    display: grid;
    align-items: center;
    grid-template-areas: emoji input input input send;
    width:max-content ;
    background-color: rgb(214, 200, 200);
    height: auto;
    align-self: end;

}

input {
    justify-content: start;
    padding: 2%;
    border-radius: 10px;
    height: 40%;
    border: none;
    margin:0 10px 0 10px;

}:focus {
    outline: none;
    border-style: none;
    border: none;
}

.footer {
    height: 300px;
}

section .emoji-icon {

}


section .send-icon {
    justify-self: right;
    color: rgb(116, 150, 180);
    margin:0 10px 0 10px;
    cursor: pointer;
    transition: all 0.2s;
}

section .send-icon:hover{
   color: rgb(135, 216, 216);
   transform: scale(1.2)
}


.chats-container {
    width: 100%;
    background-color: aqua;
    display: grid;
    padding: 0 1vw 01vw;
    grid-row: auto;
}

.msg-block {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .console {
        width: 85vw;
    }
  }