.container {
    position: absolute;
    top: 20vh;
    left: 20vw;
}

.direction {
    /* transition: all .01s; */
    background-color: white;

    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    /* align-items: center; */
}

.north-rotate {
    /* transform: rotate(230deg); */
}
.arrow {
    position: relative;
    top:-28px;
    /* background-color: red; */
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-bottom: 30px solid rgb(255, 0, 0);
    /* transform: rotate(-90deg); */

}