.header {
    width:100vw;
    height:100px;
    background-color:  #262930;
    position: fixed;
    display: grid;
    align-items:center;
    justify-content: right;
    float: right ;
    grid-template-columns: auto auto auto auto auto auto;
    transition: all .3s;
    
}


.links {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin: 2%;

}